.input-group{
  margin: 20px 0px;
}


td, th{
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type{
  height: 200px;
  width: 20%;
}

tbody > tr {
  background-color: white;
}

thead > tr{
  background-color: transparent;
}

.table-hover>tbody>tr:hover{
  background-color: white;
}

td > div > div span{
  color: black
}
