form a{
  margin-left: 10px;
}

#blogApp{
  background-color: white;
  color: black;
  padding: 50px;
  border-radius: 5px;
}

#blogApp a {
  color: black;
}

.container-div{
  width: 100% !important;
}
